
= form_for(@department, url: admin_department_path(@department), method: :put) do |f|
  .form-group
    = f.label :name
    = f.text_field :name

  = f.submit 'Save changes'
  or
  = link_to 'cancel', :back
