= render partial: 'admin/nav', locals: { current_page: 'Departments' }

%table.table.table-striped
  %tr
    %th Department
    %th Members
    %th Action
  - @departments.each do |department|
    %tr
      %td= department.name
      %td= department.users.count
      %td= link_to 'edit', edit_admin_department_path(department)

= link_to 'Add a new department', new_admin_department_path, class: 'btn btn-info'
