- if user.errors.any?
  #error_explanation
    %h3
      Uh oh… #{pluralize(user.errors.count, "problems")} need your attention.
    %ul
      - user.errors.full_messages.each do |msg|
        %li= msg
  %hr
.form-group
  = f.label :first_name
  = f.text_field :first_name, class: 'form-control'
.form-group
  = f.label :last_name
  = f.text_field :last_name, class: 'form-control'
.form-group
  = f.label :mailbox, "Email"
  .input-group
    = f.text_field :mailbox, class: 'form-control'
    %span.input-group-addon @boroondara.vic.gov.au
.form-group
  = f.label :department_id
  = f.select :department_id, Department.all.map{|d| [d.name, d.id] }, { include_blank: true }, { class: 'form-control' }
