<div class="row">

  <div class='col-md-5'>
    <p class="lead">Register to receive random acts of coffee</p>
    <hr />
    <%= form_for(@user) do |f| %>
      <div class='form-group'>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :department %>
        <%= f.select :department, options_for_select(Department.all.map{|d| [d.name, d.id] }), { include_blank: true }, { class: 'form-control' } %>
      </div>

      <%= f.submit 'Add me', class: 'btn btn-info btn-lg' %>

    <% end %>

  </div>
</div>
