= link_to admin_meetups_path do
  &larr; Back to list of meetups

%hr

%p This meetup was created on #{@meetup.created_at.in_time_zone('Melbourne').to_date.to_s(:long_ordinal)}

- if @meetup.emails_sent_at
  %p The emails were scheduled for delivery at #{@meetup.emails_sent_at.in_time_zone('Melbourne').to_date.to_s(:long_ordinal)}
  - if @meetup.pairings.where(emails_sent_at: nil).any?
    %small{ style: 'background: #eee; padding: 3px 5px;' }
      If no emails appear to be sending (changing from 'pending' to '&#10004;' in the table below) within 15 minutes, click this link:
      = link_to 'Retry sending emails', send_emails_admin_meetup_path(@meetup), method: :post, data: { confirm: "Are you sure?" }
- else
  %p
    The emails have not been sent yet.
    = button_to 'Send emails now', send_emails_admin_meetup_path(@meetup), method: :post

%hr

%h3 Pairings

%table.table.table-striped
  - @meetup.pairings.each_with_index do |pairing, index|
    %tr
      %td #{index + 1}
      %td #{pairing.user_1.full_name}
      %td #{pairing.user_2 ? pairing.user_2.full_name : 'nobody'}
      %td 
        - if pairing.emails_sent_at.present? 
          &#10004;
        - elsif @meetup.emails_sent_at.present?
          pending

