= render partial: 'admin/nav', locals: { current_page: 'Users' }

%p There are currently #{@active_users.count} active users.

%h3 Active users
%table.table.table-striped
  %tr
    %th First name
    %th Last name
    %th Email
    %th Action
  - @active_users.each do |user|
    %tr
      %td #{user.first_name}
      %td #{user.last_name}
      %td #{user.email}
      %td
        = link_to("edit", edit_admin_user_path(user))
        &bull;
        = link_to("delete", admin_user_path(user), method: :delete, data: { confirm: "Are you absolutely sure you want to permanently remove #{user.full_name}?" })
        &bull;
        = link_to 'make inactive', inacivate_admin_user_path(user), method: :put

%br
%hr
%br

%h3 Inactive users
%table.table.table-striped
  %tr
    %th First name
    %th Last name
    %th Email
    %th Action
  - @inactive_users.each do |user|
    %tr
      %td #{user.first_name}
      %td #{user.last_name}
      %td #{user.email}
      %td= link_to 'make active', acivate_admin_user_path(user), method: :put
